extends layout

block content
  div(class=container)
    h1= title
    p Welcome to #{title}
    p Create a short URL by making a request to /new - 
      code https://fccshurl.herokuapp.com/new/https://google.com
    
